<%= javascript_pack_tag 'tippyjs', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'flatpickr', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'shuffle', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'scrapbook', 'data-turbolinks-track': 'reload' %>

<%= form_with url: scrapbook_search_path, local: false, remote: true do |f| %>
  <div class="m-2 md:m-4 p-2 md:pt-4 text-center flex place-items-center place-content-center content-center">
    <% [ ['ðŸ¦', 'tweets'], ['ðŸ‘', 'likes'] ].each do |link_arr| %>
      <%= link_to link_arr[0], send("#{link_arr[1]}_path"), class: 'btn btn-sm no-focus flex-initial w-50 tippy text-large m-1', data: { tippy_content: "Link to #{link_arr[1]} page" }, aria: { label: "Link to #{link_arr[1]} page"},'data-turbolinks': 'false' %>
    <% end %>
    <div class="flex-initial w-50">
      <div class="container flex place-items-center place-content-center content-center">
        <%= link_to("â®", scrapbook_path(date: @search_date - 1.month), class: "tippy pl-1 text-lg", "data-tippy-content" => "Back one month")%> 
        <%= link_to("âª", scrapbook_path(date: @search_date - 1.day), class: "tippy pl-1 text-lg", "data-tippy-content" => "Back one day") %> 
        <span class="px-1 d-inline-block w-50">
          <%= f.text_field :date, { value: @search_date, class: 'search-date flatpickr text-center rounded p-0 m-0' } %>
        </span>
        <%= link_to("â©", scrapbook_path(date: @search_date + 1.day), class: "tippy pl-1 text-lg", "data-tippy-content" => "Forward one day") %> 
        <%= link_to("â­", scrapbook_path(date: @search_date + 1.month), class: "tippy pl-1 text-lg", "data-tippy-content" => "Forward one month") %>
        <label for="twitter-toggle-checkbox" class="twitter-toggle inline-flex relative items-center cursor-pointer tippy m-1 ml-2" data-tippy-content="See tweets as twitter intends">
          <input type="checkbox" value="false" id="twitter-toggle-checkbox" class="sr-only peer">
          <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-sky-300 dark:peer-focus:ring-sky-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-sky-600"></div>
        </label>
      </div>
    </div>
    <%= link_to  "â†“", "#", class: 'search-toggle tippy', "data-tippy-content" => "Expand search and information area", 'data-turbolinks': 'false' %>
    <%= f.submit "ðŸ”Ž", class: 'btn btn-sm flex-initial w-50 text-large m-1 cursor-pointer' %>
  </div>
  <div class="custom-search w-100 m-auto hidden">
    <div class='p-1 text-center'>
      <h3 class="text-lg md:text-xl font-bold">Scrapbook</h3>
      <p class='text-sm md:text-base mt-2 text-center'>
        This is a collection of tweets, retweets and "likes".<br>
        Tweets and retweets by myself should show in full, <br>
        while all likes are truncated versions of original tweets.<br>
        The default page includes tweets from today.<br>
        <br>
        Search for <%= link_to('last year', scrapbook_path(date: @search_date - 1.year)) %>, <%= link_to('two years ago', scrapbook_path(date: @search_date - 2.years)) %>.
      </p>
      <div class='input-group'>
        <%= f.text_field :term, { value: @term, placeholder: 'search', class: 'term-input my-2 form-control text-black rounded border hover:border-sky-300 active:border-dashed' } %>
      </div>
      <p class='text-center'>
        <b><%= @all_posts.length %></b> records found for the current selection.
      </p>
    </div>
  </div>
<% end %>

<div id="posts_partial">
  <%= render partial: 'all_posts', locals: {all_posts: @all_posts} %>
</div>