<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ohayo</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="container-flex pt-4">
			<div class="navi">
					<%= link_to "ðŸ”", root_path, 'data-turbolinks': 'false' %> |
					<%= link_to "ðŸ““", scrapbook_path, 'data-turbolinks': 'false' %> |
				<% if user_signed_in? %>
					<%= link_to "ðŸ¦", tweets_path, 'data-turbolinks': 'false' %> |
					<%= link_to "ðŸ‘", likes_path, 'data-turbolinks': 'false' %> |
					<%= link_to "ðŸ”", destroy_user_session_path, :method => :delete, class: 'exit' %>
				<% else %>
					<%= link_to "ðŸ”“", new_user_session_path, :method => :post  %>
				<% end %>
			</div>
			<%= yield %>
			<% if notice %>
				<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert"><%= alert %></p>
			<% end %>
		</div>
		<%= content_for :render_async %>
	</body>
</html>
